@use "../../../scss/var" as var;

.defaultBtn {
  @include var.btn-default;
  background-color: var.$primary-color;
  color: var.$el-color;

  &:hover {
    background-color: var.$el-color;
    color: var.$primary-color;
  }
}
